@font-face {
    font-family: Futura;
    src: url(./Futura-Bold.ttf);
}
@font-face {
    font-family: Gilroy;
    src: url(./Gilroy-Medium.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gilroy';
}

*::selection {
    color: white;
    background: black;
}

::-moz-selection {
    color: white;
    background: black;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #F7F7F7;
}

#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color: burlywood; */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#nav #nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

#links {
    padding: 10px;
}

#nav-part1 {
    /* background-color: RED; */
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg {
    display: block;
}

#nav-part2 #links a {
    text-transform: uppercase;
    opacity: 1;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;
    transition: opacity 0.2s ease-out;
}

.go2708325 {
    padding-right: 1px;
    margin-left: 6px;
    display: inline-block;
    height: 0.7em;
    width: 0.7em;
    pointer-events: none;
}

/*  .go195209187 {
    width: 13px;
    height: 36px;
    padding: 10px 14px;
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-right: -10px;
    position: relative;
    pointer-events: all;
}

.go195209187 button:first-child {
    margin-top: -12px;
    margin-left: -11px;
}

.go195209187 button{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -11px;
}

.reset-button {
    background-color: transparent;
    border-width: 0px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    line-height: inherit;
    text-decoration: inherit;
    text-align: inherit;
    padding: 0px;
    text-align: left;
}

button {
    font-family: "Helvetica Now Text", "Lucida Sans", Tahoma, sans-serif;
    color: currentColor;
    cursor: pointer;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    line-height: normal;
    text-align: center;
    cursor: default;
}*/

.go3668395055 {
    width: 18px;
    height: 6px;
    position: relative;
} 

.go3668395055 span:last-child {
    top: 100%;
}

.go3668395055 span {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    top: 0px;
    left: 0px;
    transition: top 0.2s ease-out, 
        transform 0.2s ease-out;
}

.go195209187 button:last-child{
    margin-right: -13px;
}

/* .go195209187 svg {
    z-index: 1000;
    color: #000;
}

.go414717972 {
    transition: transform 0.25s ease-out;
}

.go414717972 path {
    transform: translateY(0);
    transition: trasform 0.25s ease-out;
} */ */

#icons {
    padding: 10px;
    border-radius: 50px;
    background: transparent;
}

#nav-part2 #icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor {
    height: 180px;
    width: 180px;
    background-color: rgba(197, 206, 248, 0.814);
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);

}

#page1 {
    min-height: 100vh;
    /* background-color: aqua; */
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;

}

#page1 h1 {
    font-size: 15.8vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: rgb(109, 100, 179); */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgb(229, 156, 186);
}

#page2 .elem .dets:hover{
    height: 28vh;
}

#page2 .elem .dets .go3069490586 {
    /* background-color: #a7817f; */
    padding: 0 32px;
    width: 80%;
    height: 48px;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.06em;
    line-height: 0.9em;
    z-index: 2;
}

#page2 .elem .dets .go3069490586 .go3449860234 {
    width: 8px;
    height: 8px;
    background: currentColor;
    border-radius: 50%;
    text-decoration: none;
}

/* PAGE 3 */

#page3 {
    min-height: 120vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#page3 .go123 {
    font-size: 56px;
    grid-column: span 7;
    text-transform: uppercase;
    line-height: 1em;
    max-width: 14em;
}

.go123 p {
    margin: 0px;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.go42351 {
    grid-column: 9 / span 3;
    max-width: 27em;
}

.go24029 {
    letter-spacing: 0.01em;
    font-size: 16px;
    margin-bottom: 0px;
}

.go2163704 {
    font-family: "ABC Social Mono", "Lucida Sans", "Tahoma, nanospaced";
    font-weight: 500;
    -webkit-text-decoration: none;
    text-decoration: none;
    position: relative;
    padding-bottom: 8px;
    letter-spacing: 0.05em;
    font-size: 12px;
}

.go1213820 {
    transform-origin: 0% 0%;
    transform: translate(0px, 0px);
}

#a {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    color: currentColor;
}

.p {
    margin-top: 0px;
    margin-bottom: 32px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
}

.child {
    height: 54vh;
    width: 38vw;
    /* background-color: rgb(109, 100, 179);
    border: 2px solid #000; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img {
    height: 100%;
}


/* PAGE 4 */

.go1573233458{
    position: relative;
    display: grid;
}

.go2063876559 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 22px;
    margin-left: 24px;
    margin-right: 24px;
}

.go2063876559 span{
    grid-column: span 1;
    font-size: 12px;
    text-transform: uppercase;
}

.go2063876559 span:nth-child(2) {
    text-align: right;
}

.go3377110544 {
    grid-column: 1 / -1;
    height: 1px;
    margin-bottom: 24x;
    background: black;
}

.keen-slider:not([data-keen-slider-disabled]) {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
    user-select: none;
    width: 100%;
}

.go3112104797 {
    grid-column: 1 / -1;
    cursor: grab;
}

.reset-button {
    background-color: transparent;
    border-width: 0px;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    padding: 0px;
}
button {
    color: currentColor;
    cursor: pointer;
}


@media (max-width: 1024px) {

    #nav {
        /* height: 100px; */
        width: 100%;
        /* background-color: burlywood; */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }

    #nav #nav-part2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    #links {
        padding: 10px;
        display: none;
    }

    #nav-part1 {
        /* background-color: RED; */
        height: 67px;
        overflow: hidden;
    }

    #nav-part1 svg {
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #twogoodlogo{
        height: 40px;
        margin-left: -20px;
    }

    #icons {
        padding: 7px;
        border-radius: 50px;
        background-color: #F7F7F7;
    }

    #nav-part2 #icons i {
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }

    #page1 {
        /* background-color: red; */
        min-height: 70vh;
        width: 100%;
        padding: 0 3vw;
        padding-top: 25vh;

    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #video-container {
        height: 25vh;
        margin-top: 3vw;
    }

    #video-container #play {
        padding: 9.5vw 7.2vw;
        font-size: 4.5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%, -50%);
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
    }

    #page2 .elem {
        height: 100vh;
        width: 100%;
        /* background-color: red; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page2 .elem .dets {
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        z-index: 9;
        background-color: rgb(229, 156, 186);

    }

    #page3 {
        min-height: 120vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #h2 {
        min-height: 4.861111112vw;
    }

    .child {
        height: 54vh;
        width: 88vw;
        /* background-color: red; */
        /* border: 2px solid #000; */
        position: relative;
        padding: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .child img {
        height: 100%;
    }

}